<html>
<head>
	<title>Child Info</title>
	<%= stylesheet_link_tag 'styles', :media => 'all'%>
  <%= stylesheet_link_tag 'scaffold', :media => 'all' %>
</head>
<body bgcolor="#E5E5CC">
<div class="boxheader">Child Info</div>
<br>
<div class="insidebox">

<% @child.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<% form_tag({:action => 'save_child', :id => @child.id}, {:name => 'child_form'}) do %>
<%=hidden_field('child','person_id')%>
<table>
<tr>
	<td><strong>Name</strong>: &nbsp;&nbsp;</td>
	<td><%=text_field('child','name')%></td>
</tr>
<tr>
	<td><strong>Birthdate:</strong> &nbsp;&nbsp;</td>
	<td><%=date_select('child','birthday', :order => [:month, :day, :year], :include_blank => true, :start_year => 1980)%></td>
</tr>
<tr>
	<td><strong>Passport#:</strong> &nbsp;&nbsp;</td>
	<td><%=text_field('child','passport_no')%></td>
</tr>
<tr>
	<td colspan="2"><a href="javascript:document.child_form.submit();" class="button">Save</a></td>
</tr>
</table><br />
<% end %>
</div>
</body>
</html>