<form name="participants_f" method="post" action="/directory">
	<input type="hidden" name="id" />
	<input type="hidden" name="id_list" />
	<input type="hidden" name="name" />
	<!-- Begin participant table -->
	<table cellspacing="0" border="0" width="100%" id="results">
	<!-- Set up table header -->
		<tr>
			<td class="checkbox white nosort">
			  <input type="Checkbox" value="true" name="all" onclick="javascript:checkAll();" />
			</td>
		  <% @view.sitrack_view_columns.each do |view_column| -%>
				<% column = view_column.sitrack_column -%>
				<% if column.column_type != 'text' -%>
			    <% column_name = column.safe_name %>
					<% if column.safe_name == @order_column -%>
						<% direction, img = (@order_direction == 'asc') ? ['desc', 'arrow-up.gif'] : ['asc', 'arrow-down.gif'] -%>
						<td class="white sortactive" align="center" nowrap="nowrap">
			  			<%= link_to column.name,
							    {:action => 'index', :order_by => column_name + ' ' + direction}, 
							    {:class => 'sortactive sortable-title'} %>
						</td>
			    <% else -%>
						<td class="white sort" align="center" nowrap="nowrap">
							<%= link_to column.name,
							    {:action => 'index', :order_by => column_name+' asc'},
							    {:class => 'sort'} %>
						</td>
			    <% end -%>
  	    <% else -%>
			    <td class="white nosort" align="center" nowrap="nowrap"><%=column.name%></td>
		    <% end -%>
	    <% end -%>
		</tr>
	  <% @people.each_with_index do | person, i | -%>
  		<tr class="<%= cycle('odd', 'even') %>">
  			<td class="checkbox">
  				<input type="Checkbox" name="id_array[]" value="<%=person['applicationID']%>" />
  				<input type="hidden" name="e<%=person['applicationID']%>" value="<%=person['email']%>" />
  			</td>
  			<% @view.sitrack_view_columns.each do |view_column| -%>
  				<% column = view_column.sitrack_column -%>
  				<% value = person[column.safe_name] || '' -%>
  				<% if column.name == "Full Name" || column.name == "First Name" || column.name == "Last Name"%>
  					<td>
  					  <strong> 
  					    <a href="/profile/<%=person['applicationID']%>"><%=value%></a> 
  					  </strong>
  					</td>
  				<% elsif column.name == "Picture" %>  
  				  <td align="center" id="c<%=column.name%><%=person['applicationID']%>c<%=column.id%>">				
  				    <div id="<%=column.name%><%=person['applicationID']%>c<%=column.id%>">
      				  <% href = "javascript:picture_window(#{person['id']})" %>
    			      <% value = image_tag(url_for_fb_picture(person['fb_uid'],'square')) if person['fb_uid'].present? %>
      			    <a href="<%=href%>">
      			      <%=raw person['fb_uid'].present? ? value : image_tag('edit.png', border: 0) %>
      			    </a>
  				    </div>
  				  </td>
  				<% else -%>
  					<td align="center" id="c<%=column.name%><%=person['applicationID']%>c<%=column.id%>">
  					  <% if column.writeable? %>
  						  <div id="<%=column.name%><%=person['applicationID']%>c<%=column.id%>">
  					      <% case column.column_type %>
      				    <% when 'date' %>
      					    <% if is_date(value) %>
      						 	  <% begin %>
      						 		  <% value = formatted_date(value) %>
      						 		<% rescue %>
      						 		<% end %>
      						 		<% href = "javascript:edit_value('#{column.name}',#{person['applicationID']},'#{escape_javascript(value)}','#{column.id}','#{column.column_type}')" %>
      						 	<% else  %>
      						 	  <% value = '' %>
      						 	  <% href = "javascript:edit_value('#{column.name}',#{person['applicationID']},'#{escape_javascript(formatted_date)}','#{column.id}','#{column.column_type}')" %>
      							<% end %>
      				    <% when 'text' %>
        				    <% href = "javascript:edit_value('#{column.name}',#{person['applicationID']},'#{escape_javascript(value)}','#{column.id}','#{column.column_type}')" %>
        				    <% if value && value.length > 30 %>
        					 	  <% href += " onclick=\"nd();\" onmouseover=\"return overlib('#{escape_javascript(value)}',LEFT);\" onmouseout=\"nd();\"" %>
        				   	  <% value = value[0..27] + '...' %>
        				    <% end  %>
        		      <% when 'image' %>
        			      <% href = "javascript:picture_window(#{person['id']})" %>
        			      <% value = image_tag(value) %>
        			    <% when 'enum' %>
        				    <% href = "javascript:edit_value('#{column.name}',#{person['applicationID']},'#{escape_javascript(u(value))}','#{column.id}','#{column.column_type}')" %>
        				    <% value = @options_hash[column.name][u(value)] if 'enum' == column.column_type %>
        			    <% when 'team' %>
        				    <% href = "javascript:edit_value('#{column.name}',#{person['applicationID']},'#{escape_javascript(u(value))}','#{column.id}','#{column.column_type}')" %>
        				    <% value = @teams[u(value)] if 'team' == column.column_type %>
        		      <% else %>
        			      <% href = "javascript:edit_value('#{column.name}',#{person['applicationID']},'#{escape_javascript(value.to_s)}','#{column.id}','#{column.column_type}', '', false, '#{column.maxlength}')" %>
        			      <% value = number_to_currency(value, :unit=>"$") if 'dollar' == column.column_type %>
        		      <% end %>
        			    <a href="<%=href%>">
        			      <%=raw value.present? && value != "$" ? value : image_tag('edit.png', border: 0) %>
        			    </a>
    				    </div>
  				    <% else %>
  				      <% case column.column_type %>
  						  <% when 'date' %>
  					      <% value = is_date(value) ? formatted_date(value) : '' %>
  					    <% when 'project' %>
  							  <% value = value %>
  						  <% when 'percent' %>
  							  <% value = value.to_i.round.to_s+'%' %>
  						  <% when 'dollar' %>
  					  	  <% value = number_to_currency(value, :unit=>"$") %>
  				      <% end -%>
  				      <%=raw value.present? && value != "$" ? value : "-" %>
  				    <% end -%>
  					</td>
  				<% end -%>
  			<% end -%>
  		</tr>
  	<% end -%>
	</table>
</form>