<div id="center">
	<div class="boxheader">Add SI Tracker User</div>
<p>
You can search by any combination of first or last name, including partial names:
</p>

	<p>
	<label for="name">Name:</label>
  <%= text_field_tag :name %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= observe_field(:name,
  									:update => "results",
  									:frequency => 1,
										:url 		=> {:action => :search},
										:loading => "Element.show('spinner')",
										:complete => "Element.hide('spinner')")%>
</p>

<p><div id="results">
<%= image_tag "spinner.gif", :id => 'spinner', :style => 'display:none' %></div></p>
</div>

<div>
  <ul id="current_users">
    <% @sitrack_users.each do |su| %>
      <% if su.user && su.user.person %>
        <li id="user_<%= su.id %>">
          <%=link_to_remote image_tag('x.png', :border => 0), 
								:url => {:action => :delete, :id => su.id},
								:loading => visual_effect(:drop_out, "user_#{su.id}")%>
          <%= su.user.person.lastName %>, <%= su.user.person.firstName %> - <%= su.user.username %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>