<table cellspacing="0" cellpadding="0" width="581" height="37">
	 <tr>
	  <td valign=top align=left height=37 style='padding-top:0in;padding-right:
	  9.0pt;padding-bottom:0in;padding-left:9.0pt'>
	  <div style='border:solid windowtext 3.0pt;padding:1.0pt 1.0pt 1.0pt 1.0pt'>
	  <h2 style='border:none;mso-border-alt:solid windowtext 3.0pt;padding:0in;
	  mso-padding-alt:1.0pt 1.0pt 1.0pt 1.0pt;mso-element:frame;mso-element-wrap:
	  around;mso-element-anchor-horizontal:margin;mso-element-left:left;mso-element-top:
	  .05pt'>
	  STINT and Ministry Intern Joining Staff </h2>
	
	  </div>
	  </td>
	 </tr>
	</table>
	
	
	
	<p class=MsoNormal><span style='font-size:11.0pt;mso-bidi-font-size:11.0pt'>If
	transitioning to the "Applicant on Early Payroll" <span class=GramE>status,</span>
	and the STINT/Intern meets the qualifications, the HR Director of the ministry
	must approve this transition.<span style='mso-spacerun:yes'>  </span>(Be sure
	to discuss the increase in benefits charges, options for change in salary
	amount and then complete the lower portion of this form.)<span
	style='mso-spacerun:yes'>  </span>Email the completed form to the appropriate
	person above</span>. You may attach a salary set up form to the email with this
	form if one is required.<span style='mso-spacerun:yes'>  </span></p>
	
	<p class=MsoHeader style='tab-stops:.5in'><span style='mso-bidi-font-size:11.0pt'><o:p>&nbsp;</o:p></span></p>
	
	<p class=MsoNormal><span style='font-size:10.0pt'>
	Account #: <span style='color:blue'><%=@person.accountNo%></span>
	<span style='mso-spacerun:yes'>   </span>
	Supervising Office and Phone #:
	<span style='mso-spacerun:yes'>  </span></span><st1:place><b style='mso-bidi-font-weight:
	 normal'>
	 <span style='color:blue'><span style='font-size:10.0pt'><%=@region.name%>&nbsp;<%=@region.phone%></span></b>
	 <span style='font-size:10.0pt'><o:p></o:p></span></p>
	
	<p class=MsoNormal style='line-height:150%'><span style='font-size:10.0pt;
	mso-bidi-font-size:11.0pt;line-height:150%;mso-bidi-font-weight:bold'>
	Status:<span style='color:blue'> &nbsp;<b><%=@tracking.internType if @tracking.present?%></b></span></span></span>
	<span style='mso-spacerun:yes'>  </span><span style='font-size:10.0pt;
	mso-bidi-font-size:11.0pt;line-height:150%;mso-bidi-font-weight:bold'>Last
	Name: </span><!--[if supportFields]><b><span style='font-size:10.0pt;
	mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span style='mso-element:
	field-begin'></span><span style='mso-spacerun:yes'> </span>
	Last Name: <b style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;mso-bidi-font-size:
	12.0pt;line-height:150%'> </span></b><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'><span
	style='mso-element:field-begin'></span><span style='mso-bookmark:Text3'><span
	style='mso-spacerun:yes'> </span> <span style='mso-element:field-separator'></span></span></span></b><![endif]--><span
	style='mso-bookmark:Text3'><b><span style='font-size:10.0pt;mso-bidi-font-size:
	12.0pt;line-height:150%'><![if !supportNestedAnchors]><a name=Text3></a><![endif]><span
	style='mso-no-proof:yes'></span></span></b></span><!--[if supportFields]><span
	style='mso-bookmark:Text3'></span><span style='mso-element:field-end'></span><![endif]--><span
	style='mso-bookmark:Text3'></span><span style='mso-bookmark:Text3'></span><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'>
	<b><span style='color:blue'><%=@person.lastName%></span></b>
	<span
	style='mso-bidi-font-weight:bold'>First Name:</span> </span><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-element:field-begin'></span><span
	style='mso-spacerun:yes'> </span>MERGEFIELD &quot;First_Name&quot; <span
	style='mso-element:field-separator'></span></span></b><![endif]--><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-no-proof:yes'><%=@person.firstName%></span></span></b><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-element:field-end'></span></span></b><![endif]--><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'> </span></b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;mso-bidi-font-weight:
	bold'>Middle Name:</span><b style='mso-bidi-font-weight:normal'><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'> <span
	style='color:blue'><span style='mso-field-code:" MERGEFIELD \0022Middle_Name\0022 "'><span
	style='mso-no-proof:yes'><%=@person.middleName%></span></span></span></span></b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'><o:p></o:p></span></p>
	
	<p class=MsoNormal style='line-height:150%'><span style='font-size:10.0pt;
	mso-bidi-font-size:11.0pt;line-height:150%;mso-bidi-font-weight:bold'>Gender:</span><b
	style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;mso-bidi-font-size:
	12.0pt;line-height:150%'> <span style='color:blue'><span style='mso-field-code:
	" MERGEFIELD \0022Gender\0022 "'><span style='mso-no-proof:yes'><%=@options_hash['Gender'][@person.gender]%></span></span></span><span
	style='mso-spacerun:yes'>  </span></span></b><span style='font-size:10.0pt;
	mso-bidi-font-size:11.0pt;line-height:150%'>S<span style='mso-bidi-font-weight:
	bold'>pouse First Name: </span><b style='mso-bidi-font-weight:normal'><span
	style='color:blue'><%=@spouse.firstName%></span> </b><span
	style='mso-bidi-font-weight:bold'>Middle</span><b style='mso-bidi-font-weight:
	normal'> </b><span style='mso-bidi-font-weight:bold'>Name:</span> </span><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-element:field-begin'></span><span
	style='mso-spacerun:yes'> </span>MERGEFIELD &quot;SpouseMiddleName&quot; <span
	style='mso-element:field-separator'></span></span></b><![endif]--><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-no-proof:yes'><%=@spouse.middleName%><!-- SpouseMiddleName --></span></span></b><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-element:field-end'></span></span></b><![endif]--><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'> </span></b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'>Is Spouse 
	also transitioning? <span style="color:blue"><%=@form.spouse_transitioning? ? 'Yes' : 'No'%></span></span><!--[if supportFields]><b><span style='font-size:
	10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'><span style='mso-element:
	field-begin'></span><span style='mso-bookmark:Dropdown1'><span
	style='mso-spacerun:yes'> </span>FORMDROPDOWN </span></span></b><![endif]--><span
	style='mso-bookmark:Dropdown1'><b><span style='font-size:10.0pt;mso-bidi-font-size:
	12.0pt;line-height:150%'><![if !supportNestedAnchors]><a name=Dropdown1></a><![endif]><!--[if gte mso 9]><xml>
	 <w:data>FFFFFFFF6680000000000900440072006F00700064006F0077006E003100000000000000000000000000000000000000000000000000FFFF0300000003004E002F004100030059006500730002004E006F00</w:data>
	</xml><![endif]--></span></b></span><!--[if supportFields]><span
	style='mso-bookmark:Dropdown1'></span><span style='mso-element:field-end'></span><![endif]--><span
	style='mso-bookmark:Dropdown1'></span><span style='mso-bookmark:Dropdown1'></span><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'><o:p></o:p></span></p>
	
	<p class=MsoNormal style='line-height:150%'><b style='mso-bidi-font-weight:
	normal'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:
	150%'>Current US Mailing Address: <span style='mso-tab-count:1'>         </span></span></b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'>Street: <b
	style='mso-bidi-font-weight:normal'><span style='color:blue'><span
	style='mso-field-code:" MERGEFIELD \0022CurrAddress1\0022 "'><span
	style='mso-no-proof:yes'><%=@current_address.address1%> <%=@current_address.address2%></span></span></span><o:p></o:p></b></span></p>
	
	<p class=MsoNormal style='margin-left:1.5in;text-indent:.5in;line-height:150%'><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'>City: <b
	style='mso-bidi-font-weight:normal'><span style='color:blue'><span
	style='mso-field-code:" MERGEFIELD \0022CurrCity\0022 "'><span
	style='mso-no-proof:yes'><%=@current_address.city%></span></span></span> </b>State:<b
	style='mso-bidi-font-weight:normal'> <span style='color:blue'><span
	style='mso-field-code:" MERGEFIELD \0022CurrState\0022 "'><span
	style='mso-no-proof:yes'><%=@current_address.state%></span></span> </span></b>Zip:<b
	style='mso-bidi-font-weight:normal'> <span style='color:blue'><span
	style='mso-field-code:" MERGEFIELD \0022CurrZip\0022 "'><span style='mso-no-proof:
	yes'><%=@current_address.zip%></span></span></span><o:p></o:p></b></span></p>
	
	<p class=MsoNormal style='margin-left:1.5in;text-indent:.5in;line-height:150%'><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%'>Phone #: <b
	style='mso-bidi-font-weight:normal'><span style='mso-spacerun:yes'> </span><span
	style='color:blue'><span style='mso-field-code:" MERGEFIELD \0022CurrHomePhone\0022 "'><span
	style='mso-no-proof:yes'><%=@current_address.homePhone%></span></span></span> </b>Email: </span><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-element:field-begin'></span><span
	style='mso-spacerun:yes'> </span>MERGEFIELD &quot;Email1&quot; <span
	style='mso-element:field-separator'></span></span></b><![endif]--><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-no-proof:yes'><%=@current_address.email%></span></span></b><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt;line-height:150%;color:blue'><span
	style='mso-element:field-end'></span></span></b><![endif]--><b
	style='mso-bidi-font-weight:normal'><o:p></o:p></b></p>
	
	<p class=MsoNormal><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'>The
	STINT/Intern above has been approved for early payroll as of </span><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'><span style='mso-element:
	field-begin'></span><span style='mso-bookmark:Text23'><span
	style='mso-spacerun:yes'> </span>FORMTEXT <span style='mso-element:field-separator'></span></span></span></b><![endif]--><span
	style='mso-bookmark:Text23'><b><span style='font-size:10.0pt;mso-bidi-font-size:
	12.0pt'><![if !supportNestedAnchors]><a name=Text23></a><![endif]><span
	style='mso-no-proof:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[if gte mso 9]><xml>
	 <w:data>FFFFFFFF001008000000060054006500780074003200330000000000000006004D002F0064002F0079007900000000000000000000000000000000000000</w:data>
	</xml><![endif]--></span></b></span><!--[if supportFields]><span
	style='mso-bookmark:Text23'></span><span style='mso-element:field-end'></span><![endif]--><span
	style='mso-bookmark:Text23'></span><span style='mso-bookmark:Text23'></span><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'><span style='color:blue'><%=ApplicationController::formatted_date @form.date_of_change%></span> (effective date of
	change).<span style='mso-spacerun:yes'>      </span><span style='mso-tab-count:
	3'>                                        </span></span><span
	style='font-size:8.0pt;mso-bidi-font-size:11.0pt'><span style='mso-tab-count:
	1'>                </span><span style='mso-spacerun:yes'> </span><o:p></o:p></span></p>
	
	<p class=MsoNormal><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'>This
	applicant plans to attend New Staff Training on 
	
	<span style='color:blue'><%=ApplicationController::formatted_date @form.new_staff_training_date%></span>
	
	</span><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'><span style='mso-element:
	field-begin'></span><span style='mso-bookmark:Text24'><span
	style='mso-spacerun:yes'> </span>FORMTEXT <span style='mso-element:field-separator'></span></span></span></b><![endif]--><span
	style='mso-bookmark:Text24'><b><span style='font-size:10.0pt;mso-bidi-font-size:
	12.0pt'><![if !supportNestedAnchors]><a name=Text24></a><![endif]><span
	style='mso-no-proof:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></b></span><!--[if supportFields]><span
	style='mso-bookmark:Text24'></span><span style='mso-element:field-end'></span><![endif]--><span
	style='mso-bookmark:Text24'></span><span style='mso-bookmark:Text24'></span><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'> and his/her payroll will 
	
	<span style='color:blue'><%=@form.payroll_action%></span>
	
	</span><!--[if supportFields]><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'><span style='mso-element:
	field-begin'></span><span style='mso-bookmark:Dropdown2'><span
	style='mso-spacerun:yes'> </span>FORMDROPDOWN </span></span></b><![endif]--><span
	style='mso-bookmark:Dropdown2'><b><span style='font-size:10.0pt;mso-bidi-font-size:
	12.0pt'><![if !supportNestedAnchors]><a name=Dropdown2></a><![endif]><!--[if gte mso 9]><xml>
	 <w:data>FFFFFFFF6680000000000900440072006F00700064006F0077006E003200000000000000000000000000000000000000000000000000FFFF04000000160043004C00490043004B0020004800450052004500200046004F00520020004F005000540049004F004E0053002200640072006F007000200074006F00200074006800650020006D0069006E0069006D0075006D0020006F006600200024003100300030002F006D006F006E00740068002E001D00720065006D00610069006E0020006100740020007400680065002000700072006500730065006E00740020006C006500760065006C002E002A002E006300680061006E0067006500200074006F002000740068006500200061006D006F0075006E00740020006F006E002000610074007400610063006800650064002000730061006C00610072007900200066006F0072006D002E002A00</w:data>
	</xml><![endif]--></span></b></span><!--[if supportFields]><span
	style='mso-bookmark:Dropdown2'></span><span style='mso-element:field-end'></span><![endif]--><span
	style='mso-bookmark:Dropdown2'></span><b><span style='font-size:10.0pt;
	mso-bidi-font-size:11.0pt'><o:p></o:p></span></b></p>

	<p class=MsoNormal><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'>*
	If pay rate will be set above the minimum, please select the criteria the
	STINT/Intern has met in order to do so<span class=GramE>:<span style='color:blue'> <%= @form.payroll_reason unless 'CLICK HERE FOR OPTIONS.' == @form.payroll_reason %></span></span></span>
	<span style='mso-bookmark:
	Dropdown3'><b><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'></span></b></span><!--[if supportFields]><span
	style='mso-bookmark:Dropdown3'></span><span style='mso-element:field-end'></span><![endif]--><span
	style='mso-bookmark:Dropdown3'></span><span class=GramE><b><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'></span></b></span><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'> This early payroll status
	has been approved by </span><st1:PersonName><b><span style='color:blue'><span
	 style='font-size:10.0pt;mso-bidi-font-size:11.0pt'><%=@form.hrd%></span></span></b></st1:PersonName><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'> (HRD) <span class=GramE>of<span
	style='mso-spacerun:yes'>  </span>
	
	<b><span style='color:blue'><%=@region.name%> Campus Ministry</span></b>
	
	 (Ministry).<o:p></o:p></span></p>
	
	<p class=MsoNormal><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'><span
	style='mso-tab-count:1'>                </span><o:p></o:p></span></p>
	
	<p class=MsoNormal><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'>During
	the early payroll process, <b><span style='color:blue'><%=@mpd.coachName || '________'%></span></b><span
	style='mso-bidi-font-weight:bold'>&nbsp; </span>will be the MPD coach.<span
	style='mso-tab-count:3'>                                 </span><o:p></o:p></span></p>
	
	<p class=MsoNormal style='margin-left:.5in'><b style='mso-bidi-font-weight:
	normal'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'><o:p>&nbsp;</o:p></span></b></p>
	
	<span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
	mso-bidi-font-weight:bold'>AUTHORIZING SIGNATURE:</span><b style='mso-bidi-font-weight:
	normal'><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt'> <span
	style='color:blue'><%=@approver.full_name%><span
	style='mso-spacerun:yes'>  </span>#</span></span></span></b><b
	style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;color:blue'><%=@approver.accountNo%></span></b><span
	style='font-size:10.0pt;font-family:Arial'><span style='mso-spacerun:yes'>  
	
	</span></span><span style='font-size:10.0pt;mso-bidi-font-size:11.0pt;
	mso-bidi-font-weight:bold'>DATE:</span><b style='mso-bidi-font-weight:normal'><span
	style='font-size:10.0pt;mso-bidi-font-size:11.0pt'> </span></b><span style='mso-bookmark:
	Text29'><b style='mso-bidi-font-weight:normal'><span style='font-size:10.0pt;
	mso-bidi-font-size:11.0pt'>
	
	<%=ApplicationController::formatted_date%>
	
	<![if !supportNestedAnchors]><a name=Text29></a><![endif]><span
	style='mso-no-proof:yes'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><!--[if gte mso 9]><xml>
	 <w:data>FFFFFFFF00000000140006005400650078007400320039000000000000000000000000000000000000000000000000000000</w:data>
	</xml><![endif]--></span></b></span><!--[if supportFields]><span
	style='mso-bookmark:Text29'></span><span style='mso-element:field-end'></span><![endif]--><span
	style='mso-bookmark:Text29'></span></p>
	
  <h4><u>ADDITIONAL NOTES</u></h4>
  <%= @form.additional_notes %>
	<table cellpadding=0 cellspacing=0>
	 <tr>
	  <td width="728" height="115" style="border:2.25pt solid black;vertical-align:top;background:white">
	
		  <table cellpadding=0 cellspacing=0 width="100%">
		   <tr>
			<td><strong><u>For Staff Services Use Only</u></strong></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		   </tr>
		   <tr>
			<td><input type="checkbox" /> Change Address</td>
			<td><input type="checkbox" /> Enter Tax Data</td>
			<td><input type="checkbox" /> Move reimbursements & advances to U.S</td>
		   </tr>
		   <tr>
			<td><input type="checkbox" /> Enter Status/Location/Benefits </td>
			<td><input type="checkbox" /> Enter Tax Distribution </td>
			<td><input type="checkbox" /> Give to Benefits for Changes </td>
		   </tr>
		   <tr>
			<td><input type="checkbox" /> Change/Zero Pay Rate </td>
			<td><input type="checkbox" /> Repeat For Spouse </td>
			<td><input type="checkbox" /> Move File to Staff Drawers</td>
		   </tr>
		   <tr>
			<td>&nbsp;</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(except  address)</td>
			<td>&nbsp;</td>
		   </tr>
		  </table>
		</td>
	 </tr>
	</table>