<div id="center">
  <div id="other_panel">
  	<div class="head">Quick Links</div>
    <div class="entry">
	    <%= link_to "Back to Profile", {:controller=>'profile', :id=>params[:id]} %>
	  </div>
  	<div class="head">Generate Forms</div>
    <div class="entry">
	    <%= link_to "Add Form", "/add_form/fill?id=#{params[:id]}" %>
	  </div>
    <div class="entry">
	    <%= link_to "Salary Form", "/salary_form/fill?id=#{params[:id]}" %>
	  </div>
    <div class="entry">
	    <%= link_to "Additional Salary Form", "/additional_salary_form/fill?id=#{params[:id]}" %>
	  </div>
    <div class="entry">
	    <%= link_to "ACOS Form", "/acos_form/fill?id=#{params[:id]}" %>
	  </div>
    <div class="entry">
	    <%= link_to "Join Staff Form", "/join_staff_form/fill?id=#{params[:id]}" %>
	  </div>
  </div> 
  <div id="main_panel">
	  <div id="profile_info">
	    <div class="boxheader">Additional Salary Form for <%= @person.full_name %></div>
	    
      <% @form.errors.full_messages.each do |msg| %>
        <div class='flash_notice'><%= msg %></div>
      <% end %>
      <div class='segment'>
        <strong>The following information is necessary to generate an update form:</strong>
	    </div>
      <div class='segment'>
        
        <%= form_tag :id => @application.id do %>
          <div class="profile_box">
        	  <div class="subboxheader-a">Personal Information</div>
        	  <table>
          		<tr>
          			<td align="right">Account Number: </td>		
          			<td><%= text_field(:person, :accountNo, :size => 8) %></td>
          		</tr>
          		<tr>
          			<td align="right">Effective date of change: </td>		
          			<td><%=date_select(:form, :date_of_change, :order => [:month, :day, :year], :start_year => Time.now.year-1)%></td>
          		</tr>
          		<tr>
          			<td align="right">New staff training date: </td>		
          			<td><%=date_select(:form, :new_staff_training_date, :order => [:month, :day, :year], :start_year => Time.now.year-1)%></td>
          		</tr>
          		<tr>
          			<td align="right">Payroll will: </td>		
          			<td>
          				<%= select(:form, :payroll_action, ['drop to the minimum of $100/month.','remain at the present level.*','change to the amount on attached salary form.*'])%>
          			</td>
          		</tr>
          		<tr>
          			<td align="right">* If pay rate will be set above the minimum,<br/>please select the criteria the STINT/Intern,<br/>has met in order to do so: </td>		
          			<td>
          				<%= select(:form, :payroll_reason, ['CLICK HERE FOR OPTIONS.','Working 30 or more hours per week.','Minimum account balance of $1000.','Received approval from Dave Dickens (attached).'])%>
          			</td>
          		</tr>
          		<tr>
          			<td align="right">Name of approving HRD: </td>		
          			<td><%= text_field(:form, :hrd) %></td>
          		</tr>
          		<tr>
          			<td align="right">Spouse Name: </td>		
          			<td><%= text_field(:form, :spouse_name) %></td>
          		</tr>
          		<tr>
          			<td align="right">Spouse Transitioning? </td>		
          			<td>
          				<%= radio_button 'form', 'spouse_transitioning', '1'%> Yes			
          				<%= radio_button 'form', 'spouse_transitioning', '0'%> No
          			</td>
          		</tr>
          		<tr>
          			<td align="right">MPD Coach: </td>		
          			<td><%= text_field(:mpd, :coachName) %></td>
          		</tr>
          		<tr>
          		  <td align="right">Additional Notes:</td>
          		  <td><%= text_area 'form', 'additional_notes', :rows => 5 %></td>
          		</tr>
          	</table>
      		</div>
        	<div id="search_button">
        	  <a href="javascript:document.forms[0].submit();" class="button">Preview Form</a>
      		</div>
      	<% end -%>
      </div>
    </div>
  </div>
</div>